[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BarBorGradient"]
	path = BarBorGradient
	url = https://github.com/cran/BarBorGradient
